:root {
 --bar-color: #222;
}

* {
 scrollbar-width: thin;
 scrollbar-color: #aaa #777;
}

body {
 margin: 0px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input,
select {
 padding: 10px;
 border-width: 0px;
 border-radius: 10px;
 background-color: #fff;
}

#container {
 display: flex;
 flex-direction: column;
 height: 100vh;
}

#header,
#footer {
 display: flex;
 gap: 10px;
 padding: 10px;
 background-color: var(--bar-color);
 color: #fff;
}

#header {
 align-items: center;
}

#footer {
 height: 40px;
 align-items: flex-end;
}

#content {
 display: flex;
 flex-grow: 1;
 overflow: hidden;
}

#console {
 flex-grow: 1;
 padding: 10px;
 max-height: 100%;
 overflow-y: auto;
 font-family: monospace;
 font-size: 18px;
 background-color: #000;
 color: #fff;
}

#console .error {
 color: #f00;
}

#console .connected {
 color: #0f0;
}

#console .sent {
 color: #66f;
}

#console .received {
 color: #ff0;
}

#console .key {
 color: #9df;
}

#console .string {
 color: #c97;
}

#console .number {
 color: #bca;
}

#console .boolean {
 color: #59d;
}

#console .null {
 color: #f8f;
}

.grow {
 flex-grow: 1;
}

#quick {
 background-color: var(--bar-color);
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 10px;
 min-width: 250px;
}

#quick .buttons {
 display: flex;
 gap: 10px;
}

#quick .items {
 display: flex;
 flex-direction: column;
 gap: 10px;
 overflow-y: auto;
}

#quick .items .item {
 display: flex;
 gap: 10px;
}

#quick .items .item .button img {
 width: 20px;
 height: 20px;
}

#command {
 padding: 10px;
 border-width: 0px;
 border-radius: 10px;
 height: 20px;
 max-height: 300px;
 font-size: 16px;
 resize: none;
 overflow-y: auto;
 background-color: #444;
 color: #fff;
}

#modal {
 z-index: 100;
 display: flex;
 flex-direction: column;
 position: absolute;
 top: 50%;
 left: 50%;
 max-width: calc(100% - 20px);
 max-height: calc(100% - 20px);
 transform: translate(-50%, -50%);
 border: 1px solid #000;
 border-radius: 10px;
 overflow: hidden;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

#modal .header {
 display: flex;
 align-items: center;
 gap: 10px;
 padding: 10px;
 cursor: pointer;
 font-weight: bold;
 background-color: #fd3;
 color: #000;
}

#modal .header .title {
 flex-grow: 1;
}

#modal .header .close img {
 width: 20px;
 height: 20px;
}

#modal .body {
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 10px;
 overflow-y: auto;
 background-color: #fff;
 color: #000;
}

#modal .body .buttons {
 display: flex;
 flex-direction: row;
 gap: 10px;
}

#modal .body .buttons .button {
 border: 1px solid #000;
}

#modal .body input,
#modal .body textarea {
 padding: 10px;
 width: calc(100% - 20px);
 border: 1px solid #000;
 border-radius: 10px;
 font-size: inherit;
 font-family: inherit;
}

.button {
 padding: 10px;
 border-radius: 10px;
 font-weight: bold;
 text-align: center;
 cursor: pointer;
 background-color: #fd3;
 color: #000;
}

.label {
 font-weight: bold;
 padding: 12px 0;
}

.bold {
 font-weight: bold;
}
